body{
    margin: 0px;
    padding: 0px;
    
    
    
}
.header{
    width: 100%;
    
}
.navigation{
    
    width: 80%;
}
ul{
    width: 100%;
    
    
}
.navigation ul li{
    
    background-color: blue;
}